click==6.7
cycler==0.10.0
decorator==4.1.2
Jinja2
MarkupSafe
matplotlib
networkx==2.0
numpy
olefile==0.44
opencv-python
Pillow
python-dateutil
pytz
PyWavelets
scikit-image
scipy
six
Werkzeug
django
os
